<div class="float-end">
  <small class="fs-6">
    Your cart:
    @if (cart.summary().itemCount > 0) {
      <span>
        {{ cart.summary().itemCount }} item(s)
        {{ cart.summary().cartPrice | currency : "USD" : "symbol" : "2.2-2" }}
      </span>
    }
    @if (cart.summary().itemCount == 0) {
      <span> (empty) </span>
    }
  </small>
  <button
    class="btn btn-sm bg-dark text-white"
    [disabled]="cart.summary().itemCount == 0"
    routerLink="/cart"
    >
    <i class="fa fa-shopping-cart"></i>
  </button>
</div>
