<div class="container-fluid">
  <div class="row">
    <div class="bg-dark text-white p-2">
      <span class="navbar-brand nl02">SPORTS STORE</span>
    </div>
  </div>
</div>

@if (orderSent) {
  <div class="m-2 text-center">
    <h2>Thanks!</h2>
    <p>Thanks for placing your order.</p>
    <p>We'll ship your goods as soon as possible.</p>
    <button class="btn btn-primary" routerLink="/store">Return to Store</button>
  </div>
}

@if (!orderSent) {
  <form
    #form="ngForm"
    novalidate
    (ngSubmit)="submitOrder(form)"
    class="m-2"
    >
    <div class="form-group">
      <label>Name</label>
      <input
        class="form-control"
        #name="ngModel"
        name="name"
        [(ngModel)]="order.name"
        required
        />
      @if (submitted && name.invalid) {
        <span class="text-danger">
          Please enter your name
        </span>
      }
    </div>
    <div class="form-group">
      <label>Address</label>
      <input
        class="form-control"
        #address="ngModel"
        name="address"
        [(ngModel)]="order.address"
        required
        />
      @if (submitted && address.invalid) {
        <span class="text-danger">
          Please enter your address
        </span>
      }
    </div>
    <div class="form-group">
      <label>City</label>
      <input
        class="form-control"
        #city="ngModel"
        name="city"
        [(ngModel)]="order.city"
        required
        />
      @if (submitted && city.invalid) {
        <span class="text-danger">
          Please enter your city
        </span>
      }
    </div>
    <div class="form-group">
      <label>State</label>
      <input
        class="form-control"
        #state="ngModel"
        name="state"
        [(ngModel)]="order.state"
        required
        />
      @if (submitted && state.invalid) {
        <span class="text-danger">
          Please enter your state
        </span>
      }
    </div>
    <div class="form-group">
      <label>Zip/Postal Code</label>
      <input
        class="form-control"
        #zip="ngModel"
        name="zip"
        [(ngModel)]="order.zip"
        required
        />
      @if (submitted && zip.invalid) {
        <span class="text-danger"
          >Please enter your zip/postal code
        </span>
      }
    </div>
    <div class="form-group">
      <label>Country</label>
      <input
        class="form-control"
        #country="ngModel"
        name="country"
        [(ngModel)]="order.country"
        required
        />
      @if (submitted && country.invalid) {
        <span class="text-danger">
          Please enter your country
        </span>
      }
    </div>
    <div class="text-center">
      <button class="btn btn-secondary m-1" routerLink="/cart">Back</button>
      <button class="btn btn-primary m-1" type="submit">Complete Order</button>
    </div>
  </form>
}
